.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2rem;
}

.containterTitle {
  text-align: center;
}

.title {
  text-decoration: none;
  color: antiquewhite;
  text-align: left;
  letter-spacing: 2px;
  line-height: 1;
}
.navigationLinks {
  display: flex;
  margin-left: 0.4rem;
  justify-content: space-around;
  width: 36rem;
}

.navigationLinks > a {
  text-decoration: none;
  color: antiquewhite;
}
.navigationLinks > a:hover {
  color: white;
}

.navigationLinks > header > a {
  text-decoration: none;
  color: antiquewhite;
}

.navigationLinks > header > a:hover {
  color: white;
}

.backpackCart > svg {
  width: 25px;
  height: 25px;
}

.backpackCart > span {
  position: absolute;
  top: 5.4%; /* Adjust the positioning of the number */
  right: 10%; /* Adjust the positioning of the number */
  font-size: 0.8rem;
  color: white; /* Optional: Set text color of the number */
  border-radius: 50%; /* Optional: Add border-radius for a circular shape */
  padding: 5px 8px; /* Optional: Add padding for better visibility */
}
